body{
    background-color: black;
}

h1,h2{
    text-shadow: 5px 0 #232931;
    font-size:6rem;
    color: red;
    font-family: "Lobster" , cursive;
    margin: 20px;
}
h2{
    
    font-size:5rem;
    color: red;
    font-family: "Lobster" , cursive;
 
}


p{
    color: yellow;
    font-family: "Indie Flower" , cursive;
    font-size: 2rem;
}
img{
    width: 80%;
}

.container{
    width: 100%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}



footer{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-family: "Indie Flower" , cursive;
}


@media (max-width:1028px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 2rem;
    }

    img{
        width: 40%;  
    }
    

    
    
}